
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
img, legend { border: 0px none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, optgroup, strong { font-weight: 700; }
h1 { font-size: 2em; margin: 0.67em 0px; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
* { margin: 0px; padding: 0px; outline: medium none; box-sizing: border-box; }
html, body { font-size: 16px; font-family: 'PT Sans', sans-serif; color: rgb(0, 0, 0); background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
img { border: medium none; display: block; width: auto; max-width: 100%; }
div::after { content: ""; display: table; clear: both; }
a:hover { text-decoration: none ! important; }
a { color: inherit; cursor: pointer; }
.main_content { max-width: 1200px; background: transparent url('menu_left_bg.jpg') repeat scroll 0% 0%; }
.menu_left { width: 200px; padding: 16px 20px 0px; color: rgb(149, 149, 149); font-size: 0.875em; position: fixed; top: 0px; left: 0px; }
.menu_left ul { border-bottom: 1px solid rgb(53, 53, 53); padding: 9px 0px; }
.menu_left ul.bold { font-family: 'PT Sans', sans-serif;
font-weight: bold; color: rgb(255, 255, 255); }
.menu_left ul.last { border-bottom: medium none; }
.menu_left ul li { list-style: outside none none; margin: 0px 0px 2px; }
.menu_left ul li:hover, .menu_left ul li.active { color: rgb(204, 51, 51); }
.menu_left ul li a { text-decoration: none; }
.search { display: block; border: 1px solid rgb(53, 53, 53); border-radius: 2px; width: 100%; text-decoration: none; text-align: center; padding: 2px 0px; margin: 20px 0px 60px; }
.search > * { display: inline-block; vertical-align: middle; }
.search img { margin: 0px 0px 0px 52%; }
.content { width: 83.3333%; float: right; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
header { border-bottom: 5px solid rgb(21, 21, 21); padding: 10px 0px; }
.content_inner { width: 94%; margin: 0px auto; }
header img { display: none; }
header h1 { display: inline-block; vertical-align: middle; margin: 0px; font-size: 2.625em; font-family: 'PT Sans', sans-serif;
font-weight: bold; color: rgb(0, 0, 0); }
header p { display: inline-block; vertical-align: middle; font-size: 1em; font-family: 'PT Sans Caption', sans-serif;font-weight: bold; color: rgb(204, 51, 51); line-height: 17px; }
header p span { font-family: 'PT Sans', sans-serif; font-size: 0.875em; color: rgb(149, 149, 149); }
nav { background: transparent url('menu_bg.jpg') repeat scroll 0% 0%; font-size: 0.875em; color: rgb(21, 21, 21); border-bottom: 1px solid rgb(229, 229, 229); padding: 10px 0px; }
nav ul li { list-style: outside none none; display: inline-block; vertical-align: middle; padding: 10px 0px; margin: 0px 20px 0px 0px; position: relative; }
nav ul li:hover, nav ul li.active { color: rgb(204, 51, 51); }
nav ul li:hover::after, nav ul li.active::after { content: ""; position: absolute; bottom: -10px; left: 50%; margin: 0px 0px 0px -7px; width: 15px; height: 8px; background: transparent url('arrow_001.png') no-repeat scroll center center; }
nav ul li a { text-decoration: none; }
nav ul li.last { float: right; margin: 0px; padding-left: 20px; border-left: 1px solid rgb(213, 213, 213); }
nav ul li.last::after { content: none ! important; }
.title { margin: 16px 0px 25px; }
.title h1 { font-size: 2.5em; font-family: 'PT Sans', sans-serif;
font-weight: bold; color: rgb(21, 21, 21); line-height: 1; }
.title i { font-style: normal; font-family: 'PT Serif', serif;font-style: italic; font-size: 1.3125em; color: rgb(68, 68, 68); line-height: 1.286; display: block; margin: 9px 0px 24px; }
.block { margin: 0px 0px 34px; }
.btn { background: rgb(241, 241, 241) none repeat scroll 0% 0%; text-align: center; border: 1px solid rgb(230, 230, 230); padding: 20px 0px; }
.btn a { font-family: 'Open Sans', sans-serif;
font-weight: 800; font-size: 1.4375em; color: rgb(255, 255, 255); text-transform: uppercase; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.34); width: 66.5552%; display: inline-block; vertical-align: middle; padding: 15px 0px; text-decoration: none; border: 1px solid rgb(206, 0, 0); background: transparent linear-gradient(to bottom, rgb(255, 44, 44) 0%, rgb(212, 0, 0) 100%) repeat scroll 0% 0%; box-shadow: 0px 3px 0px 0px rgb(158, 1, 1), 0px 1px 0px 0px rgba(255, 255, 255, 0.43) inset; }
.btn a:hover { background: transparent linear-gradient(to bottom, rgb(212, 0, 0) 0%, rgb(255, 44, 44) 100%) repeat scroll 0% 0%; }
.comments { margin: 35px 0px 0px; }
.comments h2 { font-size: 1.1875em; font-family: 'PT Sans', sans-serif;
font-weight: bold; color: rgb(21, 21, 21); margin: 0px 0px 12px; }
.comments h2 span { display: inline-block; border-bottom: 2px solid rgb(204, 51, 51); padding: 0px 0px 5px; }
.comment { margin: 0px 0px 10px; }
.foto { float: left; }
.text { float: right; width: 89.6667%; font-size: 0.9375em; color: rgb(54, 54, 54); line-height: 18px; }
.text > a { color: rgb(169, 169, 169); display: block; border: 1px solid rgb(225, 228, 230); border-radius: 2px; padding: 13px 0px 13px 10px; text-decoration: none; margin: 0px 0px 20px; }
.text > p, .text img { margin: 0px 0px 15px; }
.text > p a { color: rgb(204, 51, 51); }
.name { color: rgb(89, 33, 4); margin: 0px 0px 11px; }
.name span { font-size: 0.6667em; color: rgb(169, 169, 169); }
footer { background: rgb(21, 21, 21) none repeat scroll 0% 0%; font-size: 0.75em; color: rgb(149, 149, 149); padding: 23px 0px; }
footer ul li { list-style: outside none none; display: inline-block; vertical-align: middle; margin: 0px 16px 0px 0px; }
footer ul li a { text-decoration: none; }
footer ul li a:hover { text-decoration: underline ! important; }
footer ul li.last { float: right; margin: 2px 0px 0px; color: rgb(68, 68, 68); }

@media only screen and (max-width: 1216px) {
	img {height: auto;}
	.btn a { width: 72%; }
}
@media only screen and (max-width: 1089px) {
	.menu_left { padding: 16px 15px 0px; }
	.search img { margin: 0px 0px 0px 45%; }
	.btn a { width: 80%; }
	.text { width: 87%; }
	footer ul li { margin: 0px 8px 0px 0px; }
}
@media only screen and (max-width: 959px) {
	.menu_left { width: 164px; }
	.content { width: 79%; }
	.content_inner { width: 95%; }
	nav ul li { margin: 0px 13px 0px 0px; }
	footer { text-align: center; }
	footer ul li.last { float: none; width: 100%; margin: 15px 0px 0px; }
}
@media only screen and (max-width: 799px) {
	.main_content { overflow: hidden; position: relative; }
	.menu_left, .content { transition: all 0.3s ease 0s; }
	.menu_left { position: fixed; top: 0px; left: -164px; bottom: 0px; }
	.content { width: 100%; left: 0px; }
	header img { display: inline-block; vertical-align: middle; margin: 0px 10px 0px 0px; cursor: pointer; }
}
@media only screen and (max-width: 639px) {
	nav { font-size: 0.83em; }
	nav ul li { margin: 0px 2px 0px 0px; }
	nav ul li.last { padding-left: 10px; }
	.title h1 { font-size: 2em; }
	.btn a { font-size: 1.3375em; }
	footer ul li.first { display: block; margin: 0px 0px 10px; }
	footer ul li img { display: inline-block; }
}
@media only screen and (max-width: 479px) {
	nav { text-align: center; }
	nav ul li { padding: 5px 0px; margin: 0px 6px ! important; }
	nav ul li:hover::after, nav ul li.active::after { content: none; }
	nav ul li.last { padding-left: 0px; float: none; border: medium none; }
	.content_inner { width: 93%; }
	header p { display: block; }
	.title h1 { font-size: 1.7em; }
	.title i { font-size: 1.2125em; }
	.btn a { font-size: 0.9375em; width: 90%; }
	.text { width: 80%; }
}
html, body { height: 100%; }
